DATABASE_URL="postgresql://nanovoices:nanovoices@localhost:5432/nanovoices?schema=public"
NANO_RPC_URL="http://127.0.0.1:7076"
NANO_RPC_FALLBACK_URLS=""
NANO_RPC_TOKEN=""
NANO_WS_URL="ws://127.0.0.1:7078"
NANOVOICES_RECEIVER_ADDRESS="nano_37z4s1g4anky8h951apfn1zbttsf6cs4ms11iasdsbdysb5ubrj6eeij83b3"
REQUIRED_PAYMENT_RAW="10000000000000000000000000000"
NANO_EXPLORER_ACCOUNT_URL="https://nanobrowse.com/account/{address}"
PUBLIC_APP_URL="http://localhost:3000"
BALANCE_REFRESH_SECONDS="300"
REQUEST_EXPIRATION_MINUTES="15"
PAYMENT_RECOVERY_INTERVAL_SECONDS="45"
PAYMENT_RECOVERY_HISTORY_COUNT="200"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-this-password"
